<!DOCTYPE <!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Tutor Page</title>

  <link rel="stylesheet" href="http://bootswatch.com/cosmo/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <link href='https://fonts.googleapis.com/css?family=Fjalla+One' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/stylesheets/tutor.css">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  <script src="https://use.fontawesome.com/c12bf1b8dc.js"></script>

</head>

<body>

  <% include ../public/partials/nav %>

<h4>Hello I am <%= tutor.first_name%> and welcome to my profile!</h4>

<div class="panel panel-centered panel-info leftpartone">
  <img src="http://cdn.stupiddope.com/wp-content/uploads/2013/10/la-et-ct-will-ferrell-ron-burgundy-dodge-ads-2-001.png"/>
    <h2>About Me</h2>
    <h3>I graduated from General Assembly Austin Web Development Immersive.<br/>Love to teach and help others learn a new skill.</h3><br/>
    <h2>Recommendations</h2>
  <div id="recommend">
    <form method="post" action="/profiles/<%= tutor._id %>/likeTutor">
      <input type="hidden" name="like" value="like" />
      <input type="submit" class="search" value="&#xf087;" />
      <span class="likes"><%= numLikes %></span>
    </form>
    <form method="post" action="/profiles/<%= tutor._id %>/likeTutor">
      <input type="hidden" name="like" value="dislike" />
      <input type="submit" class="search" value="&#xf088;" />
      <span class="dislikes"><%= numDislikes %></span>
    </form>
  </div>

      <% if (errorMessage) { %>
      <p><span class="blink"><%= errorMessage %></span></p>
      <% } %>
    <a href="#" class="btn btn-success">Book a Session!</a>
</div>

<div class="infoButtons">
      <a href="#credits" id="first" class="col-md-offset-5 toggle btn btn-warning btn-lg">My Skills</a>
            <div id="credits" class="well hidden">
              <h2>Front End:</h2>
              <h3>Git, Github, HTML, CSS, JavaScript, jQuery, Bootstrap, ReactJS</h3><br/>
              <h2>Back End:</h2>
              <h3>MongoDB, ExpressJS, AngularJS, NodeJS,<br/>SQL, NoSQL, APIs, PostgreSQL, OAuth,<br/>Ruby, Rails, BackboneJS, AJAX,<br/></h3>

             <div class="embed-responsive embed-responsive-16by9">
             </div>
           </div>

      <!-- <a href="#creditsone" class="toggle btn btn-success btn-lg">About Me</a>
          <div id="creditsone" class="well hidden one">
            <h3>I graduated from General Assembly Austin Web Development Immersive.</h3>
            <div class="embed-responsive embed-responsive-16by9">
            </div>
          </div> -->

      <a href="#creditstwo" class="toggle btn btn-danger btn-lg"> Sessions </a>
          <div id="creditstwo" class="well hidden two">
            <h3>No current active sessions.</h3>
            <div class="embed-responsive embed-responsive-16by9">
            </div>
          </div>
</div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  <script src="js/like-dislike.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  <script src="/profile.js"></script>
</body>
</html>
