<!DOCTYPE <!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Tutor Page</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <link href='https://fonts.googleapis.com/css?family=Fjalla+One' rel='stylesheet' type='text/css'>
  <link href="path/to/css/star-rating.css" media="all" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="/stylesheets/profile.css">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
</head>

<body>

  <div id="header">
    <nav class="navbar navbar-default navbar-fixed-top navbar-inverse" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type= "button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">CodeConnect.Us</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="/profiles/tutorslist">Tutor</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/sessions/logout">Logout</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </div>

  <!-- <h1>Hey, <%= user.first_name%>!</h1> -->
  <h4>Meet, <%= tutor.first_name%>!</h4>

  <% if (errorMessage) { %>
  <p><%= errorMessage %></p>
  <% } %>


<div id="first">
<a href="#credits" class="toggle btn btn-primary"> My Skills </a>
</div>
<div id="credits" class="well hidden">
     <ul>
       <li>HTML</li>
       <li>CSS</li>
       <li>Javascript</li>
     </ul>
    <div class="embed-responsive embed-responsive-16by9">
    </div>
</div>



<div id="second">
<a href="#creditsone" class="toggle btn btn-primary"> About Me </a>
</div>
<div id="creditsone" class="well hidden one">
    <p>I graduated from.....</p>
    <div class="embed-responsive embed-responsive-16by9">
    </div>
</div>


<div id="third">
<a href="#creditstwo" class="toggle btn btn-primary">Active Sessions</a>
</div>
<div id="creditstwo" class="well hidden two">
     <p>...........................</p>
    <div class="embed-responsive embed-responsive-16by9">
    </div>
</div>
</div>

<div id="recommend">
    <form method="post" action="/profiles/<%= tutor._id %>">
    <input type="submit" name="like" value="Like">
      <span class="likes">0</span>  <%= numLikes %>
    <input type="submit" name="like" value="Dislike">
      <span class="dislikes">0</span> <%= numDislikes %>
    </form>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  <script src="js/like-dislike.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.js"></script>
  <script src="path/to/js/star-rating.js" type="text/javascript"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  <script src="/profile.js"></script>
</body>
</html>
